@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&display=swap');
main{
  margin: auto;
}

a{
  width: 6rem;
  color: black;
  text-decoration: none;
  letter-spacing: .1em;
  transition: text-shadow .3s;
}
.header {
  background: #1aae7c;
  height: 79px;
  padding-top: 20px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box

}
.buttons {
  font-size: 20px;
  padding: 8px;
  color: black;
  display: inline-block;
  justify-content: center;
  background: #1aae7c;
  text-align: center;
  font-weight: bold;
  border: solid 1px #1aae7c;
}
.buttons:active{
  font-weight: bold;
  background-color:#fff;
  transform: scale(0.95);
}
.buttons:visited{
  font-weight: bold;
}
.buttons:hover{
  border: solid 1px #fff;
  background-color:#fff;
  font-weight: bold;
  text-shadow: 0 0 .55px #333, 0 0 .55px #333;
  border-radius: 25% 10%;
}


.addbtn{
  margin: 0.1rem;
  border: 1px;
  width: 40%;
  background-color: #1aae7c;
  cursor: pointer;
  font-size: 14px;
  padding: 7px;
}

.addbtn:hover{
  font-weight: bold;
}
.addbtn:active{
  transform: scale(0.95);
}

.products{
  text-align: center;
  display: inline-block;
  align-items: center;
  padding-left: 74px;
  justify-content: center;
}
.items{
  font-size: 30px;
  text-align: center;
}
.items_products{
  height: 800px;
}

.products-item{
  font-size: 20px;
  text-align: center;
}

.buy_btn{
  border: 1px;
  width: 80px;
  height: 50px;
  background-color: #479244;
  cursor: auto;
  font-size: 15px;
}

.text{
  text-align: center;
}

.items_btn{
  margin: 0.1rem;
  border: 2px;
  border-radius: 2px;
  width: 4rem;
  background-color: #8ca2e8;
  cursor: pointer;
  font-size: 15px;
  padding: 7px;
  font-weight: bold;
}
.count_items{
  font-size: 20px;
  padding: 2px;
  background-color: #fff;
  border-radius: 50%;
}
.cart_img{
  height: 200px;
}
.cart{

  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;

}
.cart-row{
  text-align: center;
  display: flex;
  margin: 0;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.cart_name{
  font-size: 25px;
  font-weight: bold;
}
.cart-img{
  margin: 50px;
}
.total-cost{
  font-size: 30px;
}
.small{

  height: 450px;
}